<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935851541246-8u7rnnr4r8n4m6gfdf50l7bp8jqfqn6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935851541246-8u7rnnr4r8n4m6gfdf50l7bp8jqfqn6r</string>
	<key>API_KEY</key>
	<string>AIzaSyDZXdRj-CPHgrrdzz1rlRx5RIVYFGxE6wY</string>
	<key>GCM_SENDER_ID</key>
	<string>935851541246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dozedeagosto.etafome</string>
	<key>PROJECT_ID</key>
	<string>etafome-33c6e</string>
	<key>STORAGE_BUCKET</key>
	<string>etafome-33c6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935851541246:ios:51da82d31eeee999491baf</string>
	<key>DATABASE_URL</key>
	<string>https://etafome-33c6e.firebaseio.com</string>
</dict>
</plist>